/*Global design*/
.navbar-light .navbar-brand {
  font-weight: bold;
  color: #002868;
}
.navbar-light .navbar-brand span {
  color: #BF0A30;
}
.navbar-light .navbar-brand:hover {
  font-weight: bold;
  color: #002868;
}
.navbar-light .navbar-brand:hover span {
  color: #BF0A30;
}

.row-padding {
  padding-top: 100px;
}

.div-row-padding {
  padding-top: 20px;
}
.div-row-padding-only div{
  padding-top: 0px !important;
}
.div-row-padding-only{
  padding-top: 0px !important;
}
.div-row-margin-check{
  margin: 20px 0px;
}
.div-row-padding div {
  padding-top: 50px;
}
@media (max-width: 600px) {
  .div-row-padding {
    padding-top: 0px;
  }
  .div-row-padding div {
    padding-top: 30px;
  }

  .home-intro {
    padding-top: 0px;
    padding-bottom: 20px !important;
  }

  .slider-btn {
    display: inline-flex;
    padding-bottom: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .slider-btn div {
    margin-left: auto;
    margin-right: auto;
  }

  .txt-img-mob-center {
    text-align: center;
    overflow: hidden;
  }

  .works-div {
    text-align: center;
    display: table-row;
  }
    /* use on home page to remove gap from image */
    .footer-no-margin {
      margin-bottom: -70px;
    }
    .div-h1-blue-end{
      font-weight: bold;
      color:  #002868;
      text-align: start !important;
    }
    .h1-blue-center-start{
      font-weight: bold;
      color:  #002868;
      text-align: start !important;
    }
    .input-line-style {
      margin: 0px !important;
      width: 50% !important;
    }
   
    .align-center{
      text-align: center;
    }
  
}
.h1-blue-center-start{
  font-weight: bold;
  color:  #002868;
  text-align: center;
}
.div-h1-red-center {
  font-weight: bold;
  color: #BF0A30;
  text-align: center;
}
.div-h1-blue-center {
  font-weight: bold;
  color:  #002868;
  text-align: center;
}
.div-h1-blue-end {
  font-weight: bold;
  color:  #002868;
  text-align: end;
}
a:hover {
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + .container {
  margin-top: 70px;
}

/*Homepage design*/
.home-intro {
  background: #002868;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 100px;
}

.intro-img {
  background-image: url("images/home-intro-b.png");
  background-repeat: no-repeat;
  background-position: bottom;
  margin-right: -200px;
}
.intro-img img {
  margin-left: -200px;
}

.works-div {
  padding-top: auto;
  display: inline-flex;
}
.works-div div {
  padding: 10px;
}
.works-div div img {
  margin: auto;
}
.works-div h2 {
  color: #002868;
}
.works-div p {
  color: gray;
}


.search-div {
  padding-top: auto;
}
.search-div h3 {
  color: #002868;
}
.search-div p {
  color: gray;
}

.btn-white button {
  color: #dd7777;
}
.btn-white button:hover {
  color: #ffffff;
}
.btnactive {
  color: #ffffff !important; 
}
/*Signin page form style*/
.log-in-input {
  padding-bottom: 50px;
}
.log-in-input input {
  border: none;
  border-bottom: dotted 2px;
  width: 90%;
  margin: 0px 20px 20px 20px;
  padding-bottom: 10px;
}
.log-in-input button {
  margin-left: 20px;
}

/*Signin & Signup page Social login button style*/
.social-log {
  font-size: 15px;
  display: inline-flex;
  padding: 0px;
}
.social-log div {
  width: 20%;
  border-right: solid 1px;
  padding: 10px;
}
.social-log p {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 20px;
}

/*Social log icon color*/
.fa-facebook {
  color: #3B5998;
}

.fa-google {
  color: #dd4b39;
}

.fa-linkedin {
  color: #007bb5;
}

.fa-instagram {
  color: #cb2027;
}

.btn:hover .fa-facebook {
  color: #ffffff;
}
.btn:hover .fa-google {
  color: #ffffff;
}
.btn:hover .fa-linkedin {
  color: #ffffff;
}
.btn:hover .fa-instagram {
  color: #ffffff;
}

/*Signup page horizontal padding for social login*/
.social-log-pad {
  padding-top: 10px;
}

/*Signup page form style*/
.form-control {
  background-color: #D1E2EE;
}

/* This SCSS part contains all footer style */
footer {
  background: #7F7F7F;
  margin-top: 70px;
  padding-top: 30px;
}
footer a {
  color: white;
  font-weight: bold;
  text-decoration: none;
}
footer a:hover {
  color: #aaa;
  text-decoration: none;
}
footer li {
  list-style: none;
}

/*subscribe field style*/
.footer-subscribe {
  text-align: right;
  border-bottom: solid 2px white;
}
.footer-subscribe div {
  display: inline-flex;
}
.footer-subscribe input {
  margin-right: 10px;
}


/*forum div*/
.forum-div{
  height: 250px;
  margin: 35px;
  padding: 5px;
  
}
.forum-m15{
  margin: 12% 0px;
  color: #002868;
}
.forum-f13{
  font-size: 19px;
}
.forum-border-color{
  border-color: #8a8a8a !important;
}


/* intro tag */
.forum-intro-p{
  
  font-size: 20px;
  text-align: center !important;
}

/* faq intro */
.faq-search{
  
  display: block;
  width: 100%;
   padding: 10px 20px;

    border-radius: 2.25rem;
    outline: none;
  

}

.faq-search-btn{
  padding: 10px 20px;
  outline: none !important;
  border-radius: 2.25rem;
  color: #002868;

  border-color: #fff;
  
}
.faq-div-top-bottom-m30{
 margin: 30px 0px;
}
.faq-div-support-margin{
  margin-bottom: 20px;
}
.faq-support-card div div {
  border:1px solid #7F7F7F;

}

.faq-support-card div div h4{
  font-weight: bold;
  margin-bottom: 20px;

}

.faq-support-card div{
  padding-top: 30px;
  padding-bottom: 30px
}
.faq-support-card{
  padding: 0px 140px;

}
@media screen and (max-width: 600px){
  
  
  .faq-support-card div div {
    border:1px solid #7F7F7F;
    
    margin: 10px 10px;
    padding: 20px !important;
  }
  .div-row-work-padding{
    padding: 0px 0px !important;
    
  }
  .faq-support-card div{
    padding-top: 0px !important;
  }
  .faq-support-card{
    padding: 0px 0px !important;
  }
  .faq-support-card div{
    padding-top: 0px;
    padding-bottom: 0px
  }
.faq-div-support-margin{
  margin: 10px;
  }
  .image-height{
    height: 300px !important;
    border-radius: 50%;
    margin: 20px;
   
   
  
  }
  .img-screen-size{
    width: inherit;

  }
  .center-start{
    text-align: start !important;
  }
  .padding-extra {
    padding-top: 0px !important;
  }

  .pb-subhead{
    margin: 0px !important;
  }

  .blog-search-padd{
    padding-top: 0px !important;
    padding-bottom: 10px;
  }
  .row-marging-cancel{
    margin: 0px !important;
  }
  .img-blog-padding{
    padding: 0px !important;
    
  
  }
  




}

/* about page */
.faq-about-card{
  padding: 0px 68px !important;
}
.faq-about-card div div {
  border:none !important;
 
 
}
.faq-about-card div div h2 {
  padding-top: 5px;
  color: #002868;
}
.img-inherit{
  width: inherit;
  height: 50%;
  border-radius: inherit;
}
.div-row-work-padding{
  padding: 10px 20px;
  
}
.div-row-work-padding h4{
  color:gray
}

.faq-about-grow{
  padding: 0px 68px !important;
}

.faq-about-grow div div h2 {
  padding-top: 5px;
  color: #002868;
}
.padding-zero{
  padding: 0px  !important;
}
.div-h4-blue{
  
  color: #002868;
  font-weight: bold ;
}




.padding-extra{
  padding-top: 100px;
}
.image-height{
  height: 180px;
  border-radius: 50%;
  background: red;
  padding: 0px;
  
 

}
.about-padding{
  padding-bottom: 50px;
}

.p-gray{
  color:gray
}
.p-size-font{
  font-size: 17px;
  font-weight: bold;

}
.input-line-style {
  border: none;
  border-bottom: red solid 2px;
  width: 90%;
  outline: none;
  color: red;
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: 15px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.input-before
{
  font-weight: bold;
  color: red;
  position: absolute;
}
.deposit-circule{
  border-radius: 50%;
  background-color:#302d2d;
  height: 180px;
  width: 180px;
  color: white;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.deposit-circule-white{
  border-radius: 50%;
  background-color:#fff;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 180px;
  width: 180px;
  font-weight: bold;
  text-align: center;
}
.p-annual-ammount{
  margin-top: 20px !important;
  text-align: center;
  width: 180px;
  font-weight: bold;

}
.color-icon{
  color: #85d2f1;
}
.fund-img-padd{
  padding-top: 20px;
}


/* blog page css */
.pb-head-1{
  font-weight:bold;
  font-size: 37px;
  text-align: center;
  margin-top: 30px;
}
.pb-subhead{
  font-weight:bold;
  text-align: center;
  font-size: 24px;
  margin:0px 225px;
}
.blog-search-padd{
  padding-top: 25px ;
}
.img-blog-padding{
  padding: 15px 40px;
}
.h6-blog-padding{
  padding: 0px 10px;
  color: #002868;
  text-align: center;
  font-size: 21px;
}

/*# sourceMappingURL=custom.css.map */