/*Global design*/
.navbar-light .navbar-brand {
  font-weight: bold;
  color: #002868;
}
.navbar-light .navbar-brand span {
  color: #BF0A30;
}
.navbar-light .navbar-brand:hover {
  font-weight: bold;
  color: #002868;
}
.navbar-light .navbar-brand:hover span {
  color: #BF0A30;
}

.row-padding {
  padding-top: 100px;
}

.div-row-padding {
  padding-top: 20px;
}
.div-row-padding-only div{
  padding-top: 0px !important;
}
.div-row-padding-only{
  padding-top: 0px !important;
}
.div-padding-only{
  padding-top: 0px !important;
}
.div-row-margin-check{
  margin: 20px 0px;
}
.div-row-padding div {
  padding-top: 50px;
}
@media (max-width: 600px) {
  .footer-contact{
    border-bottom: solid 0px white !important;
    padding-bottom: 10px;
  }
  .m-top{
    padding-top: 30px !important;
  }
  .pad-top{
    margin-top: 5px;
  }
  .bg-color-div{
      padding: 0px !important;
  }

  .allocation-graph-padding{
    padding-top: 44px;
    padding-left: 44px !important;
  
  }
  .faq-support-card div div {
    border:1px solid #7F7F7F;
    
    margin: 10px 10px;
    padding: 20px !important;
  }
  .div-row-work-padding{
    padding: 0px 0px !important;
    
  }
  .faq-support-card div{
    padding-top: 0px !important;
  }
  .faq-support-card{
    padding: 0px 0px !important;
  }
  .faq-support-card div{
    padding-top: 0px;
    padding-bottom: 0px
  }
.faq-div-support-margin{
  margin: 10px;
  }
  .image-height{
   
    border-radius: 50%;
    margin: 20px;
   
   
  
  }
  .img-screen-size{
    width: inherit !important;

  }
  .center-start{
    text-align: start !important;
  }
  .padding-extra {
    padding-top: 0px !important;
  }

  .pb-subhead ,.pb-subhead-2{
    margin: 0px !important;
  }

  .blog-search-padd{
    padding-top: 0px !important;
    padding-bottom: 10px;
  }
  .row-marging-cancel{
    margin: 0px !important;
  }
  .img-blog-padding{
    padding: 0px !important;
    
  
  }
  

  .full-blog-padding-content{
    padding: 10px  20px !important;
  }
  .ckedit p {
    width: 20px !important;
    height: 33px !important;

  }
  .div-center{
    top: 50% !important;
    left: 10% !important;
    position: absolute;
  }


  .div-row-padding {
    padding-top: 0px;
  }
  .div-row-padding div {
    padding-top: 30px;
  }

  .home-intro {
    padding-top: 0px;
    padding-bottom: 20px !important;
  }

  .slider-btn {
    display: inline-flex;
    padding-bottom: 50px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  .slider-btn div {
    margin-left: auto;
    margin-right: auto;
  }

  .txt-img-mob-center {
    text-align: center;
    overflow: hidden;
  }

  .works-div {
    text-align: center;
    display: table-row;
  }
    /* use on home page to remove gap from image 
    .footer-no-margin {
      margin-bottom: -70px;
    }*/
    .div-h1-blue-end{
      font-weight: bold;
      color:  #002868;
      text-align: start !important;
    }
    .h1-blue-center-start{
      font-weight: bold;
      color:  #002868;
      text-align: start !important;
    }
    .input-line-style {
      margin: 0px !important;
      width: 50% !important;
    }
   
    .align-center{
      text-align: center;
    }

    .div-pad-allocation{
      padding: 0px !important;
    }
    .allocation-graph-padding{
      padding-top: 0px !important;
     
      text-align: start !important;
    
    }

  .p-center-start{
    text-align: start !important;
  }

  .pad-zero{
    padding-top: 0px !important;
  }
  
  
}
.h1-blue-center-start{
  font-weight: bold;
  color:  #002868;
  text-align: center;
}
.div-h1-red-center {
  font-weight: bold;
  color: #BF0A30;
  text-align: center;
}
.div-h1-blue-center {
  font-weight: bold;
  color:  #002868;
  text-align: center;
}
.div-h1-blue-end {
  font-weight: bold;
  color:  #002868;
  text-align: end;
}
a:hover {
  text-decoration: none;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

.sticky + .container {
  margin-top: 70px;
}

/*Homepage design*/
.home-intro {
  background: #002868;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 100px;
}

.intro-img {
  background-image: url("images/home-intro-b.png");
  background-repeat: no-repeat;
  background-position: bottom;


  background-position-x: 246px;

}
.intro-img img {
 
}

.works-div {
  padding-top: auto;
  display: inline-flex;
}
.works-div div {
  padding: 10px;
}
.works-div div img {
  margin: auto;
}
.works-div h2 {
  color: #002868;
}
.works-div p {
  color: gray;
}


.search-div {
  padding-top: auto;
}
.search-div h3 {
  color: #002868;
}
.search-div p {
  color: gray;
}

.btn-white button {
  color: #dd7777;
}
.btn-white button:hover {
  color: #ffffff;
}
.btnactive {
  color: #ffffff !important; 
}
/*Signin page form style*/
.log-in-input {
  padding-bottom: 50px;
}
.log-in-input input {
  border: none;
  border-bottom: dotted 2px;
  width: 90%;
  margin: 0px 20px 20px 20px;
  padding-bottom: 10px;
}
.log-in-input button {
  margin-left: 20px;
}

/*Signin & Signup page Social login button style*/
.social-log {
  font-size: 15px;
  display: inline-flex;
  padding: 0px;
}
.social-log div {
  width: 20%;
  border-right: solid 1px;
  padding: 10px;
}
.social-log p {
  vertical-align: middle;
  margin-top: auto;
  margin-bottom: auto;
  padding-left: 20px;
}

/*Social log icon color*/
.fa-facebook {
  color: #3B5998;
}

.fa-google {
  color: #dd4b39;
}

.fa-linkedin {
  color: #007bb5;
}

.fa-instagram {
  color: #cb2027;
}

.btn:hover .fa-facebook {
  color: #ffffff;
}
.btn:hover .fa-google {
  color: #ffffff;
}
.btn:hover .fa-linkedin {
  color: #ffffff;
}
.btn:hover .fa-instagram {
  color: #ffffff;
}

/*Signup page horizontal padding for social login*/
.social-log-pad {
  padding-top: 10px;
}

/*Signup page form style*/
.form-control {
  background-color: #D1E2EE;
}

/* This SCSS part contains all footer style */
/*  #7F7F7F */
footer {
  box-shadow: rgb(35 22 72) -9px 5px 22px;
  background: linear-gradient(150deg, #3A7175 15%, #378d9c 70%, #288998 94%);
  
  margin-top: 70px;
  padding-top: 30px;
}
footer a {
  
  font-weight: bold;
  color: wheat;
  text-decoration: none;
}
footer a:hover {

  color: #aaa;
  text-decoration: none;
}
footer li {
  list-style: none;
}

/*subscribe field style*/
.footer-subscribe {
  text-align: right;
  border-bottom: solid 2px white;
}
.footer-subscribe div {
  display: inline-flex;
}
.footer-subscribe input {
  margin-right: 10px;
}


/*forum div*/
.forum-div{
  height: 250px;
  margin: 35px;
  padding: 5px;
  
}
.forum-m15{
  margin: 12% 0px;
  color: #002868;
}
.forum-f13{
  font-size: 19px;
}
.forum-border-color{
  border-color: #8a8a8a !important;
}


/* intro tag */
.forum-intro-p{
  
  font-size: 20px;
  text-align: center !important;
}

/* faq intro */
.faq-search{
  
  display: block;
  width: 100%;
   padding: 10px 20px;

    border-radius: 2.25rem;
    outline: none;
  

}
.a div{
  padding-top: 0px !important;
  
}
.a{
  padding-bottom: 30px;
}
.blog-search{
  padding-top: 0px !important;
  border-radius: 2.25rem;
  background-color: white;
}
.blog-search div{
  padding-top: 0px !important;
  color: black;
}

.faq-search-btn{
  padding: 10px 20px;
  outline: none !important;
  border-radius: 2.25rem;
  color: #002868;

  border-color: #fff;
  
}
.faq-div-top-bottom-m30{
 margin: 30px 0px;
}
.faq-div-support-margin{
  margin-bottom: 20px;
}
.faq-support-card div div {
  border:1px solid #7F7F7F;

}

.faq-support-card div div h4{
  font-weight: bold;
  margin-bottom: 20px;

}

.faq-support-card div{
  padding-top: 30px;
  padding-bottom: 30px
}
.faq-support-card{
  padding: 0px 140px;

}
@media screen and (max-width: 600px){
  
  .div-bg-color-black{
    margin-left: 3px !important;
  }
  .div-bg-color-white{
    margin-left: 3px !important;
  }



}

/* about page */
.faq-about-card{
  padding: 0px 68px !important;
}
.faq-about-card div div {
  border:none !important;
 
 
}
.faq-about-card div div h2 {
  padding-top: 5px;
  color: #002868;
}
.img-inherit{
  width: inherit;
  
  border-radius: inherit;
}
.div-row-work-padding{
  padding: 10px 20px;
  
}
.div-row-work-padding h4{
  color:gray
}

.faq-about-grow{
  padding: 0px 68px !important;
}

.faq-about-grow div div h2 {
  padding-top: 5px;
  color: #002868;
}
.padding-zero{
  padding: 0px  !important;
}
.div-h4-blue{
  
  color: #002868;
  font-weight: bold ;
}
.faq-img-p-s{
  height: 79px;
  width: 79px;
  margin: 24px 0px;
}





.padding-extra{
  padding-top: 100px;
}
.image-height{
  
  border-radius: 50%;
  background: #BF0A30;
  padding: 0px;
  
 

}
.about-padding{
  padding-bottom: 50px;
}

.p-gray{
  color:gray
}
.p-size-font{
  font-size: 17px;
  font-weight: bold;

}
.input-line-style {
  border: none;
  border-bottom: #BF0A30 solid 2px;
  width: 90%;
  outline: none;
  color: #BF0A30;;
  font-weight: bold;
  padding-left: 15px;
  padding-bottom: 10px;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.input-before
{
  font-weight: bold;
  color: #BF0A30;;
  position: absolute;
}
.deposit-circule{
  border-radius: 50%;
  background-color:#302d2d;
  height: 180px;
  width: 180px;
  color: white;
  font-weight: bold;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.deposit-circule-white{
  border-radius: 50%;
  background-color:#fff;
  color: black;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 180px;
  width: 180px;
  font-weight: bold;
  text-align: center;
}
.p-annual-ammount{
  margin-top: 20px !important;
  text-align: center;
  width: 180px;
  font-weight: bold;

}
.color-icon{
  color: #85d2f1;
}

.color-icon-blue{
  background-color: transparent;
  color: #002868;
}
.fund-img-padd{
  padding-top: 20px;
}


/* blog page css */
.pb-head-1{
  font-weight:bold;
  font-size: 37px;
  text-align: center;
  margin-top: 30px;
}
.pb-subhead{
  font-weight:bold;
  text-align: center;
  font-size: 24px;
  margin:0px 225px;
}
.pb-subhead-2{
  font-weight:bold;
  text-align: center;
  font-size: 20px;
  margin:0px 225px;
}
.blog-search-padd{
  padding-top: 25px ;
}
.img-blog-padding{
  padding: 15px 40px;
}
.h6-blog-padding{
  padding: 0px 10px;
  color: #002868;
  text-align: center;
  font-size: 21px;
}
.color-bg{
  background-color: #EBE2E3;
}
.p-blog{
  color: #002868;
  font-size: 20px;
  font-weight: bold;
}
.bg-color-blue{
  
  background-color: #002868 ;
  color: #fff;

}
.div-margin-only{
  padding: 30px 0px;
}
.div-blog-padding{
  padding: 0px 25px;
}
.form-control-blog{
  background-color: #fff;
}
.div-padding-top-only{
  padding-top: 50px;
  margin: 0px;
}
.div-margin-no{
  margin: 0px !important;
}
.border-line{
 
    border: none;
    border-bottom: gray solid 2px;
    width: 60%;
    outline: none;
    color: gray;
    font-weight: bold;
    padding-left: 5px;
    text-align: center;
  
}

.border-line1{
 
  border: none;
  border-bottom: gray solid 2px;
  width: 45px;
  outline: none;
  color: gray;
  font-weight: bold;
  margin-right: 10px;
  text-align: center;

 

}

.div-bg-color-black{
  background-color: rgb(13, 33, 67);
  color: white ;
  height: 140px;
  width: 160px;
  


  text-align: center;
  padding-top: 26px;
  cursor: pointer;
  margin-left: 20px;
  
}
.div-bg-color-white{
  background-color:white;
  color:  #002868;
  height: 140px;
  width: 160px;

  text-align: center;
  padding-top: 26px;
  cursor: pointer;
  margin-left: 20px;


}
.div-bg-color-white:hover {
   background-color: #002868;
  color: white !important;

}
.div-bg-color-white:hover p{
  background-color: #002868;
 color: white !important;

}
.div-bg-color-white p{
  color: black;
}
.div-bg-color-black p{
  color: white;
}
.p-black{
  padding-top: 5px;
  
  
 
}
.div-row-padding-top-b{
  padding-top: 80px;
  padding-bottom: 50px;
}
.div-bg-color-black p{
  padding-top: 5px;
}
.div-top-padding{
  padding-top: 30px;
}
.div-invest-padding{
  padding-top: 15px;
 
}
.bg-color-div{
  padding: 0px 40px;
  background-color: #E7EEF6;
  padding-bottom: 20px;
}
.top-padding{
  padding-top: 50px;
}
.div-button{ 
  
  color: black;
  padding: 10px 0px;
  border: 1px solid black;
  

}

.div-button-active{
  padding: 10px 0px;
  background-color: black;
  color: white !important;
}
.portfolio.active {
 background-color: #fff!important;
 border: solid 2px #002868;
 color:#002868 !important;
}
.portfolio{
  background-color: #fff!important;
 border: solid 2px grey;
 color: grey !important;
 margin: 5px 0px;
}
.div-inherit{
  height: inherit;
}
.portfolio-graph{
  height: inherit;
  width: inherit;
}



/* chart library */
.floating-tooltip-2 {
	width: 96px;
	height: 124px;
	position: absolute;
	display: none;
	padding: 8px !important;
	box-sizing: border-box;
	font-size: 12px;
	color: #131722;
	background-color: rgba(255, 255, 255, 1);
	text-align: left;
	z-index: 1000;
	top: 12px;
	left: 12px;
	pointer-events: none;
	border: 1px solid rgba(0, 150, 136, 1);
	border-radius: 2px;
}
.div-padding-graph{
  padding-top: 50px;
}
.div-padding-inherit{
  padding: inherit;
}
.allocation-graph-padding{
  padding-top: 60px;
 
  text-align: center;

}
.cursor{
  cursor: pointer;
}
.donut-inherit svg path{
  opacity: 1 !important;
}
.donut-inherit-innertext{
  width: 10px !important;
  font-size: 14px;
}
/* .progress-bar{

  height: 8px;
  margin-left: 20px;
} */

.progress-div{
  padding-bottom: 10px;


}

.div-pad-allocation{
  padding: 40px 10px 10px 20px;
}

.div-margin-alocation{
  padding:10px;
}
.p-allocation{
  color: rgb(132, 146, 166);
  font-weight: bold;
}
.progress-height{
  height: 6px;
}
.main-nav-shadow{
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 20px;
}

.div-center{
  top: 40%;
  left: 40%;
  position: absolute;
}
.loading{
  top: 50%;
  left: 50%;
  height: 101px;
  width: 101px;
  position: relative;
  color: #BF0A30;

}
.loading-graph{

  height: 101px;
  width: 101px;
  position: relative;
  color: #BF0A30;

}

.loading-img{

  height: 100px;
  width: 100px;
  content: url(../images/loading.png);
}

.div-tab-pad-top{
  padding-top: 45px;
}
.p-center-start{
  text-align: center ;
}

.line-break{
  -webkit-line-clamp: 3;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.line-break-2{
  -webkit-line-clamp: 1;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical;
}
.full-blog-padding{
  padding-top: 70px;
 
}
.fullblogfont-p{
  font-size: 12px;
}
.img-inherit-blog{
  width: inherit;
  height: 220px;
  border-radius: inherit;
}
.full-blog-padding-content{
  padding: 70px 40px 20px 100px;
}

.icon-porfolio{
  padding-top: 6px;
  padding-right: 5px;
}

.foot{
  margin-top: 0px !important;
}
/* phase 1 media */
@media (max-width:790px){
  .home-stock-mobile{
    display: block !important;
    margin-bottom: 40px;
    margin-left: 20px;
  }
  .home-display-none{
    display: none;
  }
}
@media (max-width: 600px) {
  .wel-search{
    max-height: 430px !important;
  }
  .foot{
    margin-top: 0px !important;
  }
  .nav-search{
    margin: 10px 0px;
  }
  .p-menu p{
    padding:0px !important;
  
  }
  .account-call-pad{
    padding: 0px !important;
  }
  .home-a{
    margin: 10px 10px !important;
  }
  .home-stock-mobile{
    display: block !important;
    margin-bottom: 40px;
    margin-left: 20px;
  }
  .home-display-none{
    display: none;
  }
  .home-padding{
    padding-top: 70px !important;
  }
  .mo-hide{
    display: none;
  }
  .mo-show{
    display: block !important;
  }
}
/* phase 2 */
.nav-end{
  place-content: flex-end;
}
.nav-search{
  width: 300px !important;
  
  box-shadow: rgba(0, 0, 0, 0.15) 0px 0px 5px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url('../images/search-icon.png');
  background-position: 10px 4px;
  background-repeat: no-repeat;
  padding-left: 40px !important;
  padding-top: 10px !important;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
  outline: none;
}
.div-top-only{
  padding-top: 120px;
}
.div-home-tab{
  padding : 0px !important;
  margin : 20px 10px;
}
.home-tab-black{
  color:#002868;;
}
.g-postion div div canvas{
 
  z-index: unset !important;
}
.g-postion as{
 
  z-index: unset !important;
}
.account-menu{
  left: -50%;
}
.div-account-padding{
  padding-top: 40px;
  margin: 0px;
}
.p-account{
  font-size: 24px;
}
.account-detail{
  background-color:   #E7EEF6;
  
  border-bottom: 1px solid rgb(210, 210, 210);

  padding: inherit;
}
.account-bg{
  
  background-color: #c6dae5;
  border: none;
  outline: none;
  text-align: center;
}
.setting-page-color{
  background-color: #E7EEF6;
  box-shadow: rgba(0, 0, 0, 0.20) 0px 0px 10px;
}
.p-menu p{
  padding-left:50px

}
.p-menu p a{
  color: black;
}
.home-about-margin{
  margin: 0px 40px 0px 0px;
}
.home-about-head{
  width: -webkit-fill-available;
  text-align: start;
  font-size: 22px ;
  border-bottom: 1px solid black;
}
.user-home{
  background-color: #E7EEF6;
  color:black;
}
.company-details{
  -webkit-line-clamp: 3;
    display: -webkit-box;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-box-orient: vertical
}
.p-pad-zero{
  font-size: 13px;
  font-weight: bold;
  margin-bottom: 0px;
  

}
.f-s-13{
  font-size: 13px;
  
}
.home-a{
  color: gray;
  font-weight: bold;
  margin: 10px 25px;
}
.home-company-list{
     box-shadow: rgb(106 130 159) 1px 1px 12px 8px;
    margin-left: 15px;
    padding: 20px;
    height: 468px;
    width: 310px;
    right: 8%;
    border: 1px solid black;
 

}

.home-company-list1{
  box-shadow: rgb(106 130 159) 1px 1px 12px 8px;
 margin-left: 15px;
 padding: 20px;
 height: 280px;
 width: 310px;
 right: 8%;
 border: 1px solid black;


}

.reset-btn{
  padding-right: 10%;
  color: #002868;
}

.div-scroll{
  
  height: 402px;
  width: 286px;
 
}
/* .infinite-scroll-component{
  -ms-overflow-style: none !important;  
  scrollbar-width: none !important;  
}
.infinite-scroll-component::-webkit-scrollbar{
  display: none !important;
} */

.word-clamp{
  width: 200px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-left: 5px;
  margin: 0;
 
  
}
.pad-l-r{
  padding-left: 0px;
  padding-right: 0px;
}
.p-color{
  color:#002868;
}

/* icons */
.about-icon{
  height: 64px;
}
.sinbad-log{
  width: 155px;
  height: 25px;
  padding-bottom: 5px;
}
.logo p{
 margin-bottom: 0px;
 font-size: 21px;
 font-weight: normal;
}
.logo-sinbad{
  color :#346bc1;
  padding-right: 4px;
}
.logo-sinbad-footer{
  color : black;
  padding-right: 4px;
}
.logo-finance-footer{
  color: #a22323;
}
.logo-finance{
  color: #BF0A30;
  
}
.sinbad-logo{
  width: 25px;
  height: 25px;
  
}
.home-stock-mobile{
  display: none;
}


.footer-p{
  font-size: 15px;
  color: #000;
  text-align: justify;
}
.block-display{
  display: none;
}
.card-align{
  justify-content: space-around;
}
.card-align div {
  margin-top: 13px;
}
.padding-bot{
  padding-bottom: 20px !important;
}
/* tab */
@media (max-width: 800px) {
  .font-h4{
    font-size: 15px;
  }
  .graph-title{
    margin-top: 20px;
  }
  .tab-view{
    justify-content: center;
  }

}
.searchfield{
  width: 100%;
}
.searchfield input{
  
  color: black !important; 
  font-weight: unset !important;
}
.graph-title{
    font-weight: bold;
    font-size: 23px;
    margin-bottom: 1px ;

}
.display-n{
  display: none;

}
.show{
  display: block;
}
.a-red{
  color: #BF0A30 !important;
}
.a-yellow{
  color: #ed931a !important;
}
.a-green{
  color: #28a745 !important;
}

.bot-padding{
  padding-bottom: 30px !important;
}

input.error {
  border: 1px solid #EADAE4;
}

.error {
  color:#db2269;
  font-size: 0.625em;
  display: relative;
}
.p-font{
  font-size: 20px;
  color: #000 !important;
}
.footer-contact{
  border-bottom: solid 2px white;
}
.footer-contact-us{
 font-weight: normal;
 margin-right: 10px;
}
.padding-be-invest{
  padding-bottom: 10px;
}

.modal1 {
  font-size: 12px;
}
.modal1 > .header {
  width: 100%;
  border-bottom: 1px solid gray;
  font-size: 18px;
  text-align: center;
  padding: 5px;
}
.modal1 > .content {
  width: 100%;
  padding: 10px 5px;
}
.modal1 > .actions {
  width: 100%;
  padding: 10px 5px;
  margin: auto;
  text-align: center;
}
.modal1 > .close {
  cursor: pointer;
  position: absolute;
  display: block;
  padding: 2px 5px;
  line-height: 20px;
  right: -10px;
  top: -10px;
  font-size: 24px;
  background: #ffffff;
  border-radius: 18px;
  border: 1px solid #cfcece;
}
.popup{
 margin: 0px;

}
.popup input{
  margin-bottom: 10px;
}
.confirm-w {
  width: 50%;

}
/*# sourceMappingURL=custom.css.map */