.main-row{
	padding-top: 50px;
}

.form-control{
	background-color: #D1E2EE;
}

.fa {
  padding: 10px;
  margin-right: 10px;
  text-align: center;
  border-radius: 5px;
}

/* share social icon */
.fa-facebook {
  background: white;
  color: #3B5998;
}

.fa-google-plus {
  background: white;
  color: #dd4b39;
}

.fa-linkedin {
  background: white;
  color: #007bb5;
}

.fa-instagram {
  background: white;
  color: #cb2027;
}

.share-pad{
	padding-top: 10px;
}

footer{
	background: rgb(0,0,0,.5);
	margin-top: 70px;
	padding-top: 30px;
}

footer a{
	color: white;
	font-weight: bold;
	text-decoration: none;
}

footer a:hover{
	color: #aaa;
	text-decoration: none;
}

.navbar-brand{
	font-weight: bold;
}

footer li{
	list-style: none;
}

.log-in-input {
	padding-bottom: 50px;
}

.log-in-input input{
	border-bottom: dotted 2px;
	border-top: none;
	border-left: none;
	border-right: none;
	width: 90%;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

.log-in-input button{
	width: 90%;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;
	padding-bottom: 10px;
}

a:hover{
	text-decoration: none;
}